[Account]
email =
password =

[BotSettings]
debug = False
logfile = False
server_id =
self_name =
permitted_channels = []
public_plugins = ["help.py", "sleep.py"]
private_plugins = []
event_plugins = []
statuses = ["PM me !help for more info", "Bug @RiotGradius on Twitter about me!"]
bot_channel =
lol_api =
twitter_alert =
guide_group =

[Twitter]
access_key =
access_secret =
consumer_key =
consumer_secret =

[Loot]
chest_min_currency = 10
chest_max_currency = 1000
