[Account]
email =
password =

[BotSettings]
server_id =
self_name =
permitted_channels = []
public_plugins = ["help.py", "sleep.py"]
private_plugins = []
bot_channel =
lol_api =

[Loot]
chest_min_currency = 10
chest_max_currency = 1000
