[Account]
token =

[BotSettings]
debug = False
logfile = False
server_id =
self_name =
permitted_channels = []
public_plugins = []
private_plugins = []
event_plugins = []
statuses = ["PM me !help for more info", "@RiotGradius on Twitter", "status1", "status2"]
bot_channel =
alert_channel =
lol_api =
twitter_alert =
guide_group =

[AdminSettings]
mod_group =

[Twitter]
access_key =
access_secret =
consumer_key =
consumer_secret =

[Loot]
chest_min_currency = 10
chest_max_currency = 1000
