{
    "token": "",
    "is_bot_token": true,
    "debug": false,
    "debug_channel": "debug",
    "public_plugins": [],
    "private_plugins": [],
    "scheduled_tasks": [],
    "event_plugins": {
        "messages": [],
        "reactions": [],
        "private": [],
        "guild": [],
        "client": [],
        "member": [],
        "relationships": [],
        "group": []
    }
}