aiohttp==0.21.6
cassiopeia==0.1.1
chardet==2.3.0
decorator==4.0.10
discord.py==0.10.0
elasticsearch==2.3.0
ipython==4.2.1
ipython-genutils==0.1.0
path.py==8.2.1
pexpect==4.2.0
pickleshare==0.7.2
pkg-resources==0.0.0
ptyprocess==0.5.1
simplegeneric==0.8.1
SQLAlchemy==1.0.13
termcolor==1.1.0
traitlets==4.2.2
twitter==1.17.1
urllib3==1.16
websockets==3.1
