aiohttp==3.3.2
async-timeout==3.0.0
attrs==18.1.0
backcall==0.1.0
chardet==3.0.4
decorator==4.3.0
idna==2.7
idna-ssl==1.1.0
ipython==7.1.1
ipython-genutils==0.2.0
jedi==0.12.1
multidict==4.3.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
pkg-resources==0.0.0
prompt-toolkit==2.0.3
ptyprocess==0.6.0
Pygments==2.2.0
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.2.10
traitlets==4.3.2
wcwidth==0.1.7
websockets==6.0
yarl==1.2.6
-e git+https://github.com/Rapptz/discord.py@3f06f247c039a23948e7bb0014ea31db533b4ba2#egg=discord.py
