SQLAlchemy==1.0.11
aiohttp==0.19.0
cassiopeia==0.0.10
chardet==2.3.0
decorator==4.0.6
elasticsearch==2.1.0
ipython==4.0.1
ipython-genutils==0.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
simplegeneric==0.8.1
termcolor==1.1.0
traitlets==4.0.0
twitter==1.17.1
urllib3==1.14
websockets==2.7
git+https://github.com/Rapptz/discord.py@async