{
  "role_assign_channel_id": ID,
  "admin_id": ID,
  "role_setup_emoji": "emoji_name",
  "available_roles": {
    "horde": "horde",
    "alliance": "alliance",
    "lfg": "lfg"
  },
  "role_descriptions": {
    "horde": "If you play Horde in WoW.",
    "alliance": "If you play Alliance in WoW.",
    "lfg": "If you want to be notified of people looking for WoW groups."
  }
}

